.vistas-counter {
  font-size: 2rem;
  font-weight: bold;
  color: #099e54;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
}

.number {
  display: inline-block;
  animation: bounce 0.5s, colorChange 2s infinite;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

/* rebote */
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* cambio de colores */
@keyframes colorChange {
  0% { color: #22d3ff; }
  25% { color: #4caf50; }
  50% { color: #2196f3; }
  75% { color: #ffeb3b; }
  100% { color: #ff22e2; }
}
